* {
  margin: 0;
  padding: 0;
}

body {
  margin: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* .card {
  position: relative;
  background: rgb(87, 151, 247);
  width: 11.25em;
  height: 16em;
  margin-top: 10px;
  border-radius: 20px;
} */

.card {
  width: 11.25em;
  height: 16em;
  position: relative;
  transform-style: preserve-3d;
  border-radius: 20px;
  transition: 0.25s ease;

}

.front,
.back {
  width: 11.25em;
  height: 16em;
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  display: flex;
  border-radius: 20px;
}

.front img {
  display: block;
  margin: auto;
  width: 50%;
}

.back p {
  display: block;
  margin: auto;
  width: 50%;
  color: white;
}

.flipped {
  transform: rotateY(180deg) perspective(400px);
}

.front {
  background-color: rgb(79, 79, 199);
}

.back {
  background-color: red;
  transform: rotateY(180deg);
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 11.25em);
  gap: 10px;
}