* {
  margin: 0;
  padding: 0;
}

/* .card {
  position: relative;
  background: rgb(87, 151, 247);
  width: 11.25em;
  height: 16em;
  margin-top: 10px;
  border-radius: 20px;
} */

.card {
  width: 11.25em;
  height: 16em;
  position: relative;
  transform-style: preserve-3d;
}

.front,
.back {
  width: 11.25em;
  height: 16em;
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.flipped {
  transform: rotateX(180);
}

.front {
  background-color: green;
}

.back {
  background-color: red;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 11.25em);
  gap: 10px;
}